body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.flex-container {
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}


.flex-group {
    display: flex;
    flex-direction: column; 
    flex: 1; 
    gap: 10px;
}


.flex-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc; 
}
