/* Reset some basic styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a default font and background */
body {
    background-image: url('../img/space.jpg'); /* Adjust path if necessary */
    background-size: cover;
    font-family: Arial, sans-serif;
    color: yellow;
    line-height: 1.6;
}

/* Header styles */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* Paragraph styles */
p {
    font-size: 100%;
}

/* Navigation styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Main content styles */
main {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background to ensure readability over background image */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    color: white; /* Ensure text is readable over the background */
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: white; /* Ensure label text is readable */
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input[type="file"] {
    margin-bottom: 15px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #575757;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
