body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
    background-color: #333;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.light-users tbody tr {
    background-color: #fff;
}

.neutral-users tbody tr {
    background-color: #ccc;
}

.dark-users tbody tr {
    background-color: #ec002f;
    color: black;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center {
    text-align: center;
}
